In [1]:
import sys
sys.executable, sys.version

('C:\\Users\\david\\.conda\\envs\\pypsa-eur\\python.exe',
 '3.8.6 | packaged by conda-forge | (default, Jan 25 2021, 22:54:47) [MSC v.1916 64 bit (AMD64)]')

In [2]:
import gams
from Analysis.gams_result import GamsResult

In [5]:
result = GamsResult("Analysis\El-aut-voll.gdx")
"My GAMS Version",result.ws.version

('My GAMS Version', '31.1.1')

In [25]:
LLVoLL = result.param_as_df("LostLoadVoLL")
LLVoLL.head()

     MY        TS         value
0  2021   sp_ex_1  19605.802904
1  2021  sp_ex_20  17565.242752
2  2021   su_ex_1  11127.211792
3  2021   su_ex_6   3518.735121
4  2021  su_ex_14   3264.479024

In [33]:
other_result = GamsResult("Analysis\El-aut.gdx")
landuse = other_result.param_as_df("LanduseExploitation")
landuse.describe(),landuse.head()

(            value
 count  176.000000
 mean     0.680631
 std      0.449902
 min      0.000189
 25%      0.052454
 50%      1.000000
 75%      1.000000
 max      1.000000,
      MY DS_en    LT     value
 0  2021     1   E21  0.002884
 1  2021     1  SW21  1.000000
 2  2021     1  SW29  0.105024
 3  2021     1   S37  1.000000
 4  2021     1  SW37  0.017239)